.login-page {
  color: white;
}

::placeholder {
  color: white;
}

.login-btn {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  background-image: url("./assets/Login_button.png");
  background-repeat: no-repeat;
  background-size: 150px 40px;
  background-size: contain;
}

.form-input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  font-size: 1.5em;
  color: white;
  outline: none;
  border-bottom: solid;
  border-color: white;
  margin: 30px;
  width: 300px;
}

.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup-link {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}
